beautifulsoup4==4.13.1
fuzzywuzzy==0.18.0
google_search_results==2.4.2
imbalanced-learn==0.13.0
jupyter_client==8.6.3
jupyter_core==5.7.2
nltk==3.9.1
openpyxl==3.1.5
pandas==2.2.3
python-dotenv==1.0.1
python-whois==0.9.5
requests==2.32.3
scikit-learn==1.6.1
selenium==4.28.1
sentence-transformers==3.3.1
spacy==3.8.4
torch==2.5.1
transformers==4.48.0
webdriver-manager==4.0.2
